{% extends 'layouts.narrow' %}

{% block title %}
	Login -
{% endblock %}

{% block content %}
	{{ former_open() }}
		<legend>Login</legend>
		{% if session_has('error') %}
			<p class="alert-error">The login or password is incorrect</p>
		{% endif %}

		{{ former_text('username').autofocus() }}
		{{ former_password('password') }}
		{{ former_submit('Login') }}

		<p>Not a member yet ? {{ linkAction('UsersController@getRegister', 'Register here') }}.</p>
	{{ former_close() }}
{% endblock %}