{% extends 'layouts.narrow' %}

{% block title %}
	Login -
{% endblock %}

{% block content %}
	{{ Former.open() }}
		<legend>Login</legend>
		{% if session_has('error') %}
			<p class="alert-error">The login or password is incorrect</p>
		{% endif %}

		{{ Former.text('username').autofocus() }}
		{{ Former.password('password') }}
		{{ Former.submit('Login') }}

		<p>Not a member yet ? {{ HTML.linkAction('UsersController@getRegister', 'Register here') }}.</p>
	{{ Former.close() }}
{% endblock %}
