{% extends 'layouts.narrow' %}

{% block title %}
	Register -
{% endblock %}

{% block content %}
	{{ Former.open() }}
		<legend>Register</legend>

		{% if Session.has('success') %}
			<p class="alert-success">Your account was successfully created, an email has been sent to you to activate it</p>
		{% endif %}

		{{ Former.text('username').autofocus() }}
		{{ Former.text('password') }}
		{{ Former.email('email') }}
		{{ Former.submit('Register') }}
	{{ Former.close() }}
{% endblock %}
