<footer class="layout-footer">
	<p>&copy; {{ "now"|date('Y') }} - {{ link('https://github.com/Anahkiasen', 'Maxime Fabre') }} - {{ link('http://autopergamene.eu', 'Autopergamene') }}</p>
	<p>The Registry is made for {{ link('http://laravel.com/', 'Laravel') }} and {{ link('http://laravel.io/', 'its community') }}</p>
</footer>
