<footer class="layout-footer">
	<p>{{ link('about', 'About') }} - {{ linkAction('PackagesController@index', 'Packages') }} - {{ linkAction('MaintainersController@index', 'Maintainers') }}</p>
	<p>&copy; {{ "now"|date('Y') }} - {{ link('https://github.com/Anahkiasen', 'Maxime Fabre') }} - {{ link('http://autopergamene.eu', 'Autopergamene') }}</p>
</footer>
