<nav class="layout-navigation">
	<p class="layout-navigation__main">
		{{ link('about', 'About') }}
		{{ linkAction('PackagesController@index', 'Packages') }}
		{{ linkAction('MaintainersController@index', 'Maintainers') }}
	</p>

	{% if auth_guest() %}
		{{ html_decode(link("https://github.com/login/oauth/authorize?client_id=#{config('registry.api.github.id')}", '<i class="icon-github"></i> Login with Github')) }}
	{% else %}
		{{ linkRoute('maintainer', "Logged in as #{auth_user().name}", auth_user().slug) }}
		{{ linkAction('MaintainersController@logout', 'Logout') }}
	{% endif %}
</nav>

<a href="{{ url('/') }}">
	<header class="layout-header">
		<h1>Laravel Packages <strong>Registry</strong></h1>
	</header>
</a>
